*{
box-sizing: border-box;
padding:0;
}
body{
    background:url('https://wallpaperaccess.com/full/2434391.jpg');
    font-weight: bold;
    text-align: center;
    color:rgb(255, 255, 255);
    background-size: fill;
}
.header{
    align-items: center;
    color:rgb(255, 238, 5);
}
#message-el{
    font-style: italic;
    font-size: 25px;
    margin:90px;
    color:rgb(255, 0, 85);
}
#sum-el{
    font-size: 25px;
}
#card-el{
    font-size: 25px;
}
#button{
    margin:20px;
    color:white;
    padding:5px;
    background-color: green;
    border:none;
    width:150px;
    height:50px;
    font-size: 25px;
    border-radius: 5%;
    font-weight:bold;
    box-shadow: 5px 5px 10px 10px white;
}
